$landscape: 600px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;


@mixin landscape{
    @media screen  and (min-width: $landscape){
        @content;           //Content coge el contenido que metamos en el mixin y lo sustituye aquí
    }
}

@mixin tablet{
    @media screen  and (min-width: $tablet){
        @content; 
    }
}

@mixin desktop{
    @media screen  and (min-width: $desktop){
        @content; 
    }
}

@mixin large{
    @media screen  and (min-width: $large){
        @content; 
    }
}